# Lectura de ODBC y Excel

## Lectura de SQL Server

Este ejemplo no funciona por no disponer de un origen definido en el equipo en el que se realizó el curso, es necesario adaptarlo a las propias necesidades. En la red hay muchos recursos de uso de pyodbc. La utilidad de estas líneas está orientada a marcar unas pautas.

In [2]:
import pyodbc 
import pandas as pd

conexion = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};'
                      'Server=Servidor;'
                      'Trusted_Connection=yes;')


frase = "SELECT * FROM [BBDD].[dbo].[TABLE]"
data_frame = pd.read_sql_query(frase, conexion)

data_frame.head()

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'ODBC Driver 13 for SQL Server' : file not found (0) (SQLDriverConnect)")

In [21]:
agentes.head()

  ID_AGENTE  ID_SEGMENTO  clientes  media  necesidad
1    000001          2.0      1448   1451          3
5    000005          2.0      1448   1451          3
6    000005          3.0      2760   2768          8
7    000005          4.0      2163   2166          3
9    000008          2.0      1450   1451          1

Cuando se trabaja con conexiones a BBDD se recomienda trabajar con campos de texto que llamamos frases, eso nos permitirá parametrizar nuestras consultas. Esto es una recomendación, el trabajo nos hará crear nuestro propio método.

## Lectura de archivos Excel

In [4]:
#Poned el directorio donde os descargáis los datos
path = 'https://raw.githubusercontent.com/analisisydecision/intro_python_data_science/master/'
#path = "C:\\temp\\dataset\\"

In [8]:
import pandas as pd

archivo = path + 'ejemplo.xlsx'

df = pd.read_excel(archivo, sheet_name = 'Hoja1')

df.describe()

,v1,v2,v3,v4,v5,v6,v7,v8,v10
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,56.613926,60.729445,59.566044,47.160427,75.491108,39.221691,33.899958,60.431114,55.574202
std,32.053366,9.475917,39.315719,39.300259,22.842472,30.329539,37.225663,29.670219,34.899061
min,24.680706,45.321468,0.011327,11.953578,40.584394,7.897946,1.567631,13.950107,10.414844
25%,34.302541,55.622327,36.037958,16.225277,61.281814,10.937557,6.172165,44.435228,27.541814
50%,44.299618,65.078632,65.620825,32.470050,81.782325,41.006728,19.984836,64.870277,69.636993
75%,84.979813,66.572797,91.784995,80.739533,91.648422,65.660353,54.932571,84.905619,73.780927
max,96.893555,69.356860,99.459897,98.429173,99.412171,70.626016,93.712689,89.688410,95.084056

La función read_excel será suficiente en el 80% de las ocasiones que realicemos esta tarea. Como es habitual en la ayuda tenéis perfectamente descritas sus posibilidades.

### Lectura de Excel con xlrd

Es posible que necesitemos realizar tareas más complejas a la hora de leer archivos Excel y podemos usar xlrd. Vemos algunas de las posibilidades:

In [9]:
import xlrd

En este caso no podemos leer directamente vía web. El archivo deberá estar accesible de forma local. Nos sirve para conocer un método de importación de archivos web con <code>urlretrive</code>.

In [18]:
from urllib.request import urlretrieve

path = 'https://raw.githubusercontent.com/analisisydecision/intro_python_data_science/master/'
link = path + 'ejemplo.xlsx'

urlretrieve(link, "ejemplo.xlsx")

('ejemplo.xlsx', <http.client.HTTPMessage at 0x116d400d0>)

In [19]:
wb = xlrd.open_workbook('ejemplo.xlsx') 

hoja = wb.sheet_by_index(0) 
print(hoja.nrows) 
print(hoja.ncols) 
print(hoja.cell_value(0, 0))

7
10
v1

<code>open_workbook</code> nos abre el Excel para trabajar con él. Seleccionamos hojas por índice (empezando por el 0) y con la hoja seleccionada podemos ver el número de filas <code>nrows</code> o columnas <code>ncols</code>. Seleccionar una celda lo hacemos con <code>cell_value</code> mediante índices (empezando por el 0). Otras posibilidades:

In [20]:
wb = xlrd.open_workbook('ejemplo.xlsx') 

hoja = wb.sheet_by_name('Hoja1') 
for i in range(0,hoja.nrows):
    print(hoja.cell_value(i,1))

v2
66.43982733346411
45.321467642456604
69.35685954115478
63.71743739403397
66.6171204219566
52.923956832362926

En este caso estamos obteniendo los valores de una columna del Excel. Si deseamos obtener las cabeceras de las columnas podemos hacer:

In [14]:
hoja = wb.sheet_by_index(0) 
nombres = hoja.row(0)  
print(nombres)

[text:'v1 ', text:'v2', text:'v3', text:'v4', text:'v5', text:'v6', text:'v7', text:'v8', text:'v9', text:'v10']

También mediante xlrd podemos crear data frames de pandas en este caso lo que hacemos son lecturas de rangos:

In [21]:
from urllib.request import urlretrieve

path = 'https://raw.githubusercontent.com/analisisydecision/intro_python_data_science/master/'
link = path + 'ejemplo.xlsx'

urlretrieve(link, "ejemplo.xlsx")

wb = xlrd.open_workbook("ejemplo.xlsx") 

hoja = wb.sheet_by_index(0) 

# Creamos listas
filas = []
for fila in range(1,hoja.nrows):
    columnas = []
    for columna in range(0,2):
        columnas.append(hoja.cell_value(fila,columna))
    filas.append(columnas)

import pandas as pd
df = pd.DataFrame(filas)
df.head()

           0          1
0  96.893555  66.439827
1  33.873056  45.321468
2  35.590996  69.356860
3  24.680706  63.717437
4  95.637004  66.617120