# Data Management básico con datatable

Realizaremos las mismas tareas que vimos en el anterior capítulo:

* Seleccionar columnas
* Eliminar columnas
* Seleccionar registros
* Crear nuevas variables
* Sumarizar datos
* Ordenar datos

Se va a emplear un conjunto de datos cargado en el repositorio del curso:

In [1]:
import datatable as dt
path = 'https://raw.githubusercontent.com/analisisydecision/intro_python_data_science/master/'
dt_df = dt.fread(path + 'index.csv')
dt_df.head()

El objeto generado será un data table frame, no es exactamente un data frame, sin embargo emplearemos esa definición. Tamaño del data frame cargado:

In [2]:
dt_df.shape

(1000, 21)

Nombre y tipo de las variables:

In [3]:
print(dt_df.names) 
print(dt_df.stypes)

('Creditability', 'Account Balance', 'Duration of Credit (month)', 'Payment Status of Previous Credit', 'Purpose', 'Credit Amount', 'Value Savings/Stocks', 'Length of current employment', 'Instalment per cent', 'Sex & Marital Status', 'Guarantors', 'Duration in Current address', 'Most valuable available asset', 'Age (years)', 'Concurrent Credits', 'Type of apartment', 'No of Credits at this Bank', 'Occupation', 'No of dependents', 'Telephone', 'Foreign Worker')
(stype.bool8, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32, stype.int32)

## Seleccionar columnas

Un objeto datatable tiene múltiples características, en este caso sólo queremos trabajar con columnas, el resto :

In [4]:
df2 = dt_df[:,['Occupation','No of dependents']]
df2.head(5)

In [5]:
seleccionadas =['Occupation','No of dependents']
df2 = dt_df[:, seleccionadas]
df2.head(5)

## Eliminar columnas

In [6]:
elimina = ['Creditability','Account Balance']
del dt_df[:, elimina]
dt_df.head()

## Seleccionar registros

Empezamos a familiarizarnos con la variable f que pertenece al módulo datatable. Esta variable es un mecanismo de datatable que nos permite referenciar a elementos del data table frame.

In [7]:
df4 = dt_df[dt.f['Duration of Credit (month)'] == 12, :]
df4.view()

Registros que cumplan una condición.

In [8]:
df4 = dt_df[dt.f['Duration of Credit (month)'] != 12, :]
df4.head(5)

Las condiciones complejas requieren el empleo de paréntesis.

In [9]:
df5 = dt_df[(dt.f['Duration of Credit (month)'] == 12) & (dt.f['Credit Amount']<=1500), :]
df5.head(5)

En este caso las variables tienen caracteres especiales en su definición por ello el uso de corchetes y comillas, sin embargo, la notación punto simplifica este tipo de trabajo:

In [10]:
df5 = dt_df[(dt.f['Duration of Credit (month)'] != 12) & (dt.f.Occupation == 3), :]
df5.head(5)

In [11]:
df6 = dt_df[(dt.f.Purpose != 0) | (dt.f.Occupation == 3), :]
df6.head(5)

## Creación de nuevas variables con Python

Creamos una distancia a la media del importe del crédito:

In [12]:
media = dt_df['Credit Amount'].mean()

In [13]:
dt_df['dist_media'] = dt_df[:,  dt.f['Credit Amount']/media]

In [14]:
dt_df.head(5)

In [15]:
dt_df['dist_media'].mean()

En datatable la función ifelse nos permite crear condiciones:

In [16]:
media = dt.mean(dt_df['Credit Amount'])
media

Expr:mean(<Frame#7fb04c680690 1000x1>; )

Observemos que en este caso no hemos creado un data frame.

In [17]:
dt_df['Mayor que la media'] = dt.ifelse( dt_df['Credit Amount'] > media , 
                                        "Por encima de la media", "Por debajo de la media")

## Sumarizar datos

La forma más rápida y directa

In [18]:
dt_df[:, dt.count(dt.f.Occupation), dt.by(dt.f['Mayor que la media'])]

Múltiples columnas.

In [26]:
resumen = dt_df[:, dt.mean(dt.f['Credit Amount']), dt.by(dt.f.Purpose,dt.f['Mayor que la media'])]
resumen.head(5)

### Renombramos la columna

In [28]:
resumen.names = ['Media' if x == 'Credit Amount' else x for x in resumen.names]
resumen.head(5)

## Ordenar datos

Orden ascendente

In [32]:
orden = dt_df.sort('Credit Amount')
orden.head(5)

Orden descendente

In [33]:
orden = dt_df[::-1,:, dt.sort(dt.f['Credit Amount'])]
orden.head(5)