# Otros tratamientos de datos

In [5]:
import pandas as pd
import numpy as np

In [19]:
#Poned el directorio donde os descargáis los datos
path = 'C:/temp/04_People/Just Data Scientist/dataset/'

In [20]:
df = pd.read_csv (path + 'index.csv')

### Muestras aleatorias de tamaño n y de proporción p

En ocasiones la ayuda sobre una función no es inmediata

In [2]:
?.sample

Object `sample` not found.

In [1]:
?pd.DataFrame.sample

Object `pd.DataFrame.sample` not found.

In [21]:
muestra_tamanio_100 = df.sample(n=100)

In [22]:
muestra_tamanio_100.shape

(100, 21)

In [23]:
muestra_proporcion = df.sample(frac=0.9)

In [24]:
muestra_proporcion.shape

(900, 21)

In [25]:
whos

Variable              Type         Data/Info
--------------------------------------------
df                    DataFrame         Creditability  Accou<...>n[1000 rows x 21 columns]
muestra_proporcion    DataFrame         Creditability  Accou<...>\n[900 rows x 21 columns]
muestra_tamanio_100   DataFrame         Creditability  Accou<...>\n[100 rows x 21 columns]
path                  str          C:/temp/04_People/Just Data Scientist/dataset/
pd                    module       <module 'pandas' from 'C:<...>ges\pandas\__init__.pyc'>

Si deseamos eliminar objetos y variables

In [26]:
del muestra_proporcion 
del muestra_tamanio_100

In [27]:
whos

Variable   Type         Data/Info
---------------------------------
df         DataFrame         Creditability  Accou<...>n[1000 rows x 21 columns]
path       str          C:/temp/04_People/Just Data Scientist/dataset/
pd         module       <module 'pandas' from 'C:<...>ges\pandas\__init__.pyc'>

### Es importante tener "limpia" la sesión. Un objeto python ocupa 4 veces su tamaño en csv

# Generación de números aleatorios

Generación de números duplicados

In [6]:
?np.random

In [7]:
?np.random.normal

In [8]:
v1 = np.random.poisson(20,100)

In [6]:
?v1

In [13]:
v2 = np.random.normal(0,1,100)
v2

array([-1.54941423,  1.30420911, -0.53852541, -0.23176464,  0.69401577,
        0.63064345,  0.46602345, -0.79473293, -0.79858457, -0.20068975,
       -0.79932645,  0.24399218,  0.31002896,  0.7178554 ,  1.42854459,
       -1.19236281,  1.93446952,  0.82310261, -0.28083375, -1.78231957,
        0.67708792, -0.78013056, -2.45560725, -0.38057281, -0.9886191 ,
        0.93515862,  0.93089732,  0.60657553, -0.43706523, -0.63178311,
        0.23664369,  1.35379137,  0.41370145,  2.1813582 , -1.84342996,
        0.03167409, -0.08331587, -0.48729954, -0.32074877, -3.18888599,
        0.4068145 ,  0.60442638,  0.44141367,  0.20170197, -0.06990883,
       -1.13434341, -0.70846361,  1.50882873, -1.56272447,  0.77200475,
        1.644096  ,  0.07740488,  0.70103932, -0.64439595, -2.20242465,
        0.76565705,  0.48466406,  0.9996726 , -0.81562329,  1.30388684,
       -0.74958511,  0.23023494, -0.19189339,  1.04793126, -0.06440305,
       -1.13092437, -1.21243136,  1.29795447,  0.34525514,  0.74491595,
        0.66947039,  0.14902429,  1.57520701,  0.27218745,  1.47697371,
       -0.80393966,  0.36435291, -1.05082128,  1.48481401, -0.48246415,
        0.64580208,  1.44303007,  0.53005021, -0.78718207,  0.14296551,
       -0.49155139,  1.14661695,  1.14332952, -1.22839034, -0.23229226,
        0.172826  , -0.05653786, -0.6859956 ,  0.07385385, -1.79307231,
       -1.25677589, -0.97755923,  1.84696524, -0.6325696 ,  0.05926669])

In [21]:
v1 = np.random.poisson(20,100)

TRansformación de objeto numpy a dataframe

In [23]:
v1 = pd.DataFrame(v1, columns=["Valor"])
v1.head()

   Valor
0     22
1     27
2     21
3     14
4     18

Podemos genera más de un elemento en el data frame

In [26]:
longitud = 1000 
df = pd.DataFrame(np.random.uniform(0,100,size=(longitud, 2)), columns=list('AB'))
df.head()

           A          B
0  67.537436   6.444506
1  23.000523  80.901965
2  19.991651  83.821489
3  36.812606  96.307987
4  90.569922  81.241623

In [27]:
#Quedarnos con la parte entera de un número
df = df // 1

In [28]:
df.head()

      A     B
0  67.0   6.0
1  23.0  80.0
2  19.0  83.0
3  36.0  96.0
4  90.0  81.0

# Análisis de datos duplicados

In [33]:
data = pd.DataFrame(np.random.poisson(20,size=(100, 2)), columns=['dato1','dato2'])
data.head()

   dato1  dato2
0     19     28
1     21     20
2     22     23
3     18     14
4     20     21

In [34]:
#Duplicados por dato1
data['duplicado'] = data.duplicated(['dato1'])
data.head()

   dato1  dato2  duplicado
0     19     28      False
1     21     20      False
2     22     23      False
3     18     14      False
4     20     21      False

In [35]:
data['duplicado'].sum()

79

In [38]:
duplicados = data[data['duplicado']]
duplicados.head()

    dato1  dato2  duplicado
5      20     18       True
9      18     13       True
10     20     18       True
11     21     22       True
14     18     22       True

In [40]:
#Duplicados por dato1 y dato2
data['duplicado'] = data.duplicated(['dato1', 'dato2'])
data['duplicado'].sum()

18